html,
body {
  height: 100%;
}

body {
  background-color: #363F45;
  color: #CCDB38;
  font-family: 'Jura', sans-serif;
}

a,
a:focus,
a:visited {
  color: #CCDB38;
}

a:hover,
a:active {
  background-color: inherit;
  color: #E81D62;
}

.all-wrapper {
  height: 100%;
}

.all-wrapper-row {
  height: calc(100% - 30px);
  vertical-align: middle;
}

.all-wrapper-col {
  height: 100%;
}

.quote-wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 1em;
}

.quote-text {
  font-family: 'Slabo 27px', cursive;
  font-size: 1.7em;
}

.quote-author {
  margin: 1em 0;
  font-size: 1.4em;
}

.social-button,
.social-button:focus {
  border: 0;
  background-color: inherit;
  color: #CCDB38;
  font-size: 1.6em;
  padding: 0 0.5em;
}

.social-button:hover,
.social-button:active {
  background-color: inherit;
  color: #E81D62;
}

.new-quote,
.new-quote:focus {
  background-color: #CCDB38;
  color: #363F45;
  font-weight: 500;
  border: 0;
}

.new-quote:hover,
.new-quote:active {
  background-color: #E81D62;
}

footer {
  height: 30px;
}
